
/*
list of cognitive distortions and alternative answers
*/
.list {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid lightgray;
    padding: 1.2em;
    margin-bottom: 1em;
    box-shadow: 5px 5px 0px 0px #e8e8e8;
}

.list ul {
    padding: 0;
}

.list li {
    list-style: none;
    display: flex;
    align-items: center;
    list-style: none;
}

.list li a, a:visited, a:link, a:active, a:hover {
    cursor: pointer;   
    display: flex;
    text-decoration: none;
    color: black;
}

.list li a:hover {
    background-color: aliceblue;
}

li > div:last-child {
    width: 100%;
}

.list div.list-item {
    flex: 1;
    padding: 0.5em;
}

.list li div label {
    font-weight: bold;
    margin-right: 0.5em;
}
